$blue : #008cc9;
$white : #ececec;
$bg-color : #242424;
$black : #1c1c1c;
$li-black: #343434;

$inbox: #1a2739;
$inbox-border: #3584e4;

$today: #1a3229;
$today-border: #33d17a;

$scheduled: #281d31;
$scheduled-border: #9141ac;

$pinboard: #361b20;
$pinboard-border: #ed333b;

$labels: #292321;
$labels-border: #865e3e;

$completed: #382517;
$completed-border: #ff7800;