@use "./themes/colors.scss" as *;

.app-con {

    .maped {
        display: flex;
        flex-direction: row;
        align-items: center;
        // background-color: red;
        height: 100dvh;


        .first-con {
            width: 80%;
            // background-color: burlywood;
            margin-bottom: 300px;

            .head-line {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                width: 1000px;
                margin-top: 80px;
                margin-bottom: 20px;

                .head-text {
                    font-family: sans-serif;
                    color: $white;
                    // background-color: green;
                }

            }

            .task-list {
                // background-color: green;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                ul {

                    li {
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-start;
                        align-items: center;
                        gap: 10px;
                        background-color: #313131;
                        list-style: none;
                        border-radius: 5px;
                        width: 380px;
                        margin-bottom: 10px;
                        padding: 15px;
                        color: $white;
                        font-family: sans-serif;

                        input {
                            width: 20px;
                            height: 20px;
                            background-color: none;
                            appearance: none;
                            border-radius: 50%;
                            border: 1px solid $white;
                        }

                        input:checked {
                            background-color: $blue;
                        }

                    }

                }

            }

            .empty-bg {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 10px;
                font-family: sans-serif;
                color: $white;
            }

        }

    }

}